{% extends 'base.html' %}

{% block content %}
<h3 align='center' style="color:#569fe3">Здесь отображаются главные новости. <br> По мере изменения их списка на новостных сайтах, изменяются новости и на этом сайте.<br> Название каждой новости снабжено гиперссылкой, поэтому при нажатии на название новости можно перейти к статье на самом сайте</h3><br>
<div style='border: solid 1px #f0f2f2; border-radius: 6px; background: #f0f2f2; width: 1000px; margin:0 auto;'>
{% for i in obj_list %}
	<p align='left'><a target="_blank" href="{{i.link}}">
		<div><img height="100" src="{{i.image}}">
			<div style='display: inline-block; padding: 8px'>
				<h3>{{i.title}}</h3>
			</div>
		</div>
		<p style='display: inline-block; padding: 8px' class="mb-3">{{i.description}}</p>
	</a></p>
	<hr>

{% endfor %}
</div>
<!--<br>
<button name='submit'><a href="{% url 'content:new_guitar' %}">Добавить новую гитару</a></button>
<button name='submit'><a href="{% url 'content:new_pedal' %}">Добавить новую педаль</a></button>-->
{% endblock %}